<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>rentalMBOD</display-name>
	<listener>
		<listener-class>telespree.apps.fwk.CoreApplicationListener</listener-class>
	</listener>
	<!-- Spring -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
            /WEB-INF/applicationContext.xml
        </param-value>
	</context-param>

	<!-- Required by AppCore -->
	<context-param>
		<param-name>configurationClass</param-name>
		<param-value>com.telespree.apps.sprint.mbod.rental.MbodConfiguration</param-value>
	</context-param>
	<context-param>
		<param-name>errorClass</param-name>
		<param-value>com.telespree.apps.sprint.mbod.rental.MbodErrors</param-value>
	</context-param>

	<!-- Struts 2 -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 
	<filter>
    	<filter-name>encodingFilter</filter-name>
    	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    	<init-param>
        	<param-name>encoding</param-name>
        	<param-value>UTF-8</param-value>
    	</init-param>
    	<init-param>
        	<param-name>forceEncoding</param-name>
        	<param-value>true</param-value>
    	</init-param>
	</filter>
	<filter-mapping>
    	<filter-name>encodingFilter</filter-name>
    	<url-pattern>*.action</url-pattern>
	</filter-mapping>
	 -->

	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>JspSupportServlet</servlet-name>
		<servlet-class>org.apache.struts2.views.JspSupportServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
        <servlet-name>MonitorServlet</servlet-name>
        <servlet-class>com.telespree.apps.sprint.mbod.rental.servlet.MbodMonitorServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>
	<servlet>
		<servlet-name>ImageServlet</servlet-name>
		<servlet-class>telespree.apps.fwk.servlet.HandsetImageServlet</servlet-class>
		<init-param>
			<param-name>mappedUrl</param-name>
			<param-value>image</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>VersionServlet</servlet-name>
		<servlet-class>telespree.common.servlet.VersionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogBackStatusServlet</servlet-name>
		<servlet-class>ch.qos.logback.classic.ViewStatusMessagesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogBackStatusServlet</servlet-name>
		<url-pattern>/logstatus</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImageServlet</servlet-name>
		<url-pattern>*.image</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VersionServlet</servlet-name>
		<url-pattern>/version</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.json</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonitorServlet</servlet-name>
        <url-pattern>/healthcheck</url-pattern>
    </servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<!-- 
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<page-encoding>UTF-8</page-encoding>
		</jsp-property-group>
	</jsp-config>
	 -->
	<resource-ref>
		<res-ref-name>TSAppDataSource</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<resource-ref>
		<res-ref-name>TSAppISMDataSource</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<resource-ref>
		<res-ref-name>TSAppSessionDataSource</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<resource-ref>
		<res-ref-name>TSDataSource</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
</web-app>
